# Visulization of phreeqc output
Reference: "2023.11.13 Library of possible graphs.pdf"

## Python Import

In [2]:
import os, sys
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import pandas as pd

## Preprocessing

In [4]:
# test data
test_data = "data/job001_Beerling_original.out"

In [8]:
# load raw data, sep is tab
raw = pd.read_csv(test_data,sep="\t")
raw

,sim,state,soln,dist_x,time,step,pH,pe,N,Na,...,dk_Ilmenite,k_Glass,dk_Glass,k_MikeSorghum,dk_MikeSorghum,SurfH_Ca,SurfH_Mg,SurfH_H,Hfo_PO4,Unnamed: 92
0,1,i_soln,0,-99.000,-99.0,-99,8.10000,4.0000,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN
1,1,i_soln,1,-99.000,-99.0,-99,8.10000,4.0000,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN
2,1,react,0,-99.000,0.0,1,7.77981,12.9020,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN
3,2,i_exch,1,-99.000,-99.0,-99,8.10000,4.0000,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN
4,3,i_surf,1,-99.000,-99.0,-99,8.10000,4.0000,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.021727,0.001211,0.077437,0.000000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,1,transp,7,0.325,157825000.0,100,7.24426,15.0329,0.000334,0.000568,...,0.0,0.0,0.0,0.0,0.0,0.009470,0.000571,0.111620,6.764500e-06,NaN
1112,1,transp,8,0.375,157825000.0,100,7.16534,15.0308,0.000329,0.000348,...,0.0,0.0,0.0,0.0,0.0,0.009377,0.000559,0.116540,1.930100e-08,NaN
1113,1,transp,9,0.425,157825000.0,100,7.10706,14.9478,0.000335,0.000270,...,0.0,0.0,0.0,0.0,0.0,0.009241,0.000553,0.120140,3.431600e-11,NaN
1114,1,transp,10,0.475,157825000.0,100,7.05164,13.7762,0.000344,0.000246,...,0.0,0.0,0.0,0.0,0.0,0.009077,0.000554,0.123580,4.370800e-14,NaN
1115,1,transp,11,0.525,157825000.0,100,8.23572,12.3537,0.000344,0.000246,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN